.container-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .card {
    width: calc(33.33% - 20px); /* Each card takes up one-third of the container width minus the gap */
    height: 400px; /* Set a fixed height for the cards */
    background-color: #9671e050;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    gap: 10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 70%;
    height: 70%; /* Ensure the image fills the entire card */
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
  }
  
  .card-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #a93dd3eb;
    color: #fefffe;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #333;
  }
  