/* Footer.css */

.footer-wrapper {
    background-color: #c58eefb0;
    margin-top: 20px;
   
    border-top: 1px solid #e0e0e0;
}

.footer-content {
    background-color: #c58eefb0;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-link {
    color: #555;
    font-size: 20px;
    margin-right: 15px;
}

.social-link:hover {
    color: #007bff;
}

.footer-info {
    flex-grow: 1;
    text-align: center;
}

.footer-text {
    font-size: 14px;
   color: #282828;
    font-weight: 500;
}

.footer-link {
    color: #7300ff;
    text-decoration: none;
    margin-left: 5px;
}

.footer-link:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}
