
.cat-logo {
    height: 100px;
    
}

.title {
    display: flex;
    color: #464545;
    align-items: flex-start; 
    gap: 0.5rem;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.sub-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.nav-wrapper {
    background-color: rgba(112, 51, 235, 0.514);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    /* max-width: 2000px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

}

.nav-content li {
    margin: 0 1.5rem;

}

#menu-item {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555454;
    position: relative;
    cursor: pointer;
}


#menu-item::before{
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #8f59db75 0%, #ad3bea 100%);
    border-radius: -0.6rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

#menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.create-acc-btn {
    background: linear-gradient(90deg, #5c23abd0 0%, #9f20e3 100%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    /* Add transitions for smooth color change and hover effect */
  }
  
  .create-acc-btn:hover {
    background-color: #6e3ad8;
    transform: translateY(-2px);
    /* Add a slight lift effect on hover */
  }
  
  .create-acc-btn:active {
    transform: translateY(1px);
    /* Add a slight press effect on click */
  }
  

  .login-btn {
    background: linear-gradient(90deg, #5c23abd0 0%, #9f20e3 100%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
  }
  .login-btn:hover {
    background-color: #6e3ad8;
    transform: translateY(-2px);
    /* Add a slight lift effect on hover */
  }
  .login-btn:active {
    transform: translateY(1px);
    /* Add a slight press effect on click */
  }

